<div class="container">
  <form class="new-task">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput id="title" name="title" [(ngModel)]="newTask.title" [disabled]="isProcessing" placeholder="Enter a title" />
      <mat-hint>Enter at least 1 character.</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="deadlinePicker" placeholder="Choose a deadline" [(ngModel)]="newTask.deadline" [disabled]="isProcessing" />
      <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
      <mat-hint>Specifying deadline is optional.</mat-hint>
    </mat-form-field>

    <div class="form-group">
      <button mat-raised-button color="primary" [disabled]="!canAddTask() || isProcessing" (click)="addTask()">
        {{isProcessing ? 'Processing...' : 'Add Task'}}
      </button>
    </div>
  </form>


  <div class="tasks">
    <mat-card *ngFor="let task of tasks" [class.completed]="task.completed">
      <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="task.deadline">{{ task.deadline | date: 'yyyy-MM-dd' }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions align="end">
        <mat-checkbox [(ngModel)]="task.completed" (change)="handleChange(task)">Done</mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-raised-button color="accent" (click)="archiveCompleted()" [disabled]="!canArchiveCompleted()">Completed</button>
</div>
